@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

:root {
  --color-primary: #6d4bdd;
  --color-primary2: #9e94c7;
  --color-primary3: #b9a8fc;

  --color-secondary: #f0c03f;

  --color-success: #86da4e;
  --color-success2: #80ff2b;

  --color-danger: #F8595F;
  --color-danger2: #cc3232;

  --shadow1: 0 0 2rem 0 rgba(136, 152, 170, .15);
  --shadow2: 0 3px 9px rgba(50, 50, 9, 0), 3px 4px 8px rgba(94, 114, 228, .1);
  --rounded1: 16px;
  --rounded2: 8px;

  --border1: #694dc52d;
}

@theme inline {

  --color-primary: var(--color-primary);
  --color-primary2: var(--color-primary2);
  --color-primary3: var(--color-primary3);

  --color-secondary: var(--color-secondary);

  --color-success: var(--color-success);
  --color-success2: var(--color-success2);

  --color-danger: var(--color-danger);
  --color-danger2: var(--color-danger2);

  --color-b1: var(--border1);

  --shadow-s1: var(--shadow1);
  --shadow-s2: var(--shadow2);

  --radius-r1: var(--rounded1);
  --radius-r2: var(--rounded2);
}

@layer utilities {
  .divide-secondary {
    @apply divide-y;
    border-bottom-color: var(--color-secondary) !important;
  }

  .divide-secondary>* {
    border-bottom-color: var(--color-secondary) !important;
  }
}

@layer base {
  * {
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Almarai', sans-serif;
  }

  [disabled] {
    cursor: not-allowed;
  }

  button {
    cursor: pointer;
  }

  h2 {
    font-size: 18px;
    font-weight: 500;
  }

  h3 {
    font-size: 16px;
    font-weight: 500;
  }

  *::-webkit-scrollbar {
    width: 9px;
    height: 9px;
  }

  *::-webkit-scrollbar-track {
    background: #e0d6ff;
  }

  *::-webkit-scrollbar-thumb {
    background-color:  var(--color-primary2) ;
    border-radius: 33px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-primary);
  }

  /* Prefer Almarai for Arabic text and RTL content */
  :lang(ar),
  [lang^="ar"],
  [dir="rtl"] {
    font-family: 'Almarai', 'Lato', sans-serif;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}